<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Editor Pro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/dist/analysis-main.css') }}">
</head>
<body class="bg-slate-50 dark:bg-slate-900 m-0 p-0 overflow-hidden">
    <div id="root" class="h-screen w-screen"></div>
    <script type="module" src="{{ url_for('static', filename='js/dist/analysis-bundle.js') }}"></script>
</body>
</html>